{% extends 'base.html' %}

{% block title %}Sources{% endblock %}

{% block content %}
  <div>
    <table class="table table-striped">
      <thead><tr>
        <td>Path</td>
        <td>Description</td>
      </tr></thead>
      <tbody>
      {% for g in source_data %}
        {% set source = g.source %}
        <tr>
          <td scope="row"><a href="{{ url_for('source', source_id=source.source_id)}}">
            {{ source.path }}
          </a></td>
          <td>{{ source.source_description|default("", True) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
