{% extends 'base.html' %}

{% block title %}Volume {{ volume_data.volume.volume_name }}{% endblock %}

{% block content %}
  {% set volume=volume_data.volume %}
  <div>
    <dl>
      <dt>Model:</dt>
      <dd>{{ volume.volume_model|default("", True) }}</dd>
      <dt>Serial:</dt>
      <dd>{{ volume.volume_serial|default("", True) }}</dd>
      <dt>Capacity:</dt>
      <dd>{{ volume.volume_capacity|default("", True) }}</dd>
      <dt>Use:</dt>
      <dd>{{ volume.volume_use|default("", True) }}</dd>
    </dl>
  </div>
  <div>
    <a href="/volume_edit/{{ volume.volume_id }}">Edit</a>
  </div>
{% endblock %}
