{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Volumes {% endblock %}</h1>
    <div class="content">
        <table class="table table-striped">
        {% for volume in volumes %}
            <tr>
                <td scope="row"><a href="{{ url_for('volume', volume_id=volume.volume_id)}}">
                    #{{ volume.volume_id }}
                </a></td>
                <td>{{ volume.volume_name }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}